extends  ../_skeleton

block variables
	- pageName = 'Grid'

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title('Grid system')

	//- Grid System
	section.section.section-md.bg-default.novi-background
		.container.grid-system
			.row.row-50.row-lg-90
				.col-12
					h3 1\1
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time.
			.row
				.col-6
					h3 1\2
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
				.col-6
					h3 1\2
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
			.row
				.col-4
					h3 1\3
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
				.col-4
					h3 1\3
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
				.col-4
					h3 1\3
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
			.row
				.col-3
					h3 1\4
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
				.col-3
					h3 1\4
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
				.col-3
					h3 1\4
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
				.col-3
					h3 1\4
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience.
			.row
				.col-8
					h3 2\3
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out.
				.col-4
					h3 1\3
					p.
						Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely

	//- Page Footer
	include ../sections/_section-footer-default