.row.row-20.row-md-40
	.col-md-6.col-xl-3
		//- Pricing table
		.pricing-table
			.pricing-table-body
				h3.h4.pricing-table-header Free consultation
				.pricing-object
					span $
					span.price 0
				p.small Pellentesque et tellus feug
				ul.list-marked.pricing-list
					li Donec quis vehicula diam
					li Ut viverra ligula non
					li Suscipit commodo orci
					li Curabitur orci magna
			.pricing-table-footer
				a.btn.btn-nero.btn-block(href='#') Buy now

	.col-md-6.col-xl-3
		//- Pricing table
		.pricing-table
			.pricing-table-body
				h3.h4.pricing-table-header Basic
				.pricing-object
					span $
					span.price 5
					span.h4 /month
				p.small Penatibus vulputate in sagittis at
				ul.list-marked.pricing-list
					li Sed iaculis turpis sed
					li Accumsan pretium
					li In ultrices felis nulla non
					li Pellentesque ornare erat
			.pricing-table-footer
				a.btn.btn-nero.btn-block(href='#') Buy now

	.col-md-6.col-xl-3
		//- Pricing table
		.pricing-table.bg-aqua-grey
			.pricing-table-body
				h3.h4.pricing-table-header Standard
				.pricing-object
					span $
					span.price 20
					span.h4 /month
				p.small Etiam nibh risus nunc ridiculus
				ul.list-marked.pricing-list
					li Condimentum nunc lectus
					li Interdum eros dictum
					li Convallis tortor nibh ornare
					li Morbi iaculis auctor luctus
			.pricing-table-footer
				a.btn.btn-nero-2.btn-block(href='#') Buy now

	.col-md-6.col-xl-3
		//- Pricing table
		.pricing-table
			.pricing-table-body
				h3.h4.pricing-table-header Premium
				.pricing-object
					span $
					span.price 50
					span.h4 /month
				p.small Porta nunc facilisi cras quisque eget
				ul.list-marked.pricing-list
					li Proin iaculis diam et
					li Placerat lacinia odio nisl
					li Congue tellus sed
					li Placerat nunc neque id urna
			.pricing-table-footer
				a.btn.btn-nero.btn-block(href='#') Buy now
