//- Icon box vertical
mixin icon-box-vertical(obj)
  //- Icon box vertical
  article.icon-box-vertical(class=obj.mod)
    span.novi-icon.icon.icon-primary(class=obj.icon)
    h5.icon-box-header: a(href='#')=obj.header
    p=obj.text
