//- Text placeholder
mixin text-placeholder(className)
  .inset-lg-right-40.inset-xl-right-70(class=className)
    p Starbis is an independent web design studio with a rich history. It started as a small family-owned business in Oakville, and has grown enough to successfully occupy two large buildings in two different cities.