//- Footer base transparent
.section-single-footer
	.container
		p.rights.small
			span= logo.name
			span &nbsp;&#169;&nbsp;
			span.copyright-year
			span .&nbsp;All Rights Reserved.&nbsp;
			br.d-md-none
			a.link-primary-inverse(href='privacy-policy.html') Privacy Policy

