section.section.section-lg.bg-default
	.container
		.row.justify-content-center
			.col-md-10.col-xl-8.text-center
				h2 I help millions of owners create a business that works flawlessly
		.row.row-20
			.col-sm-6.col-md-4.col-xl-2.wow.fadeInUp(data-wow-delay='0s')
				.link-image-wrap
					a.link-image(href='#')
						+img('brand-01-180x80.png')
			.col-sm-6.col-md-4.col-xl-2.wow.fadeInUp(data-wow-delay='.1s')
				.link-image-wrap
					a.link-image(href='#')
						+img('brand-02-180x80.png')
			.col-sm-6.col-md-4.col-xl-2.wow.fadeInUp(data-wow-delay='.2s')
				.link-image-wrap
					a.link-image(href='#')
						+img('brand-03-180x80.png')
			.col-sm-6.col-md-4.col-xl-2.wow.fadeInUp(data-wow-delay='.3s')
				.link-image-wrap
					a.link-image(href='#')
						+img('brand-04-180x80.png')
			.col-sm-6.col-md-4.col-xl-2.wow.fadeInUp(data-wow-delay='.4s')
				.link-image-wrap
					a.link-image(href='#')
						+img('brand-05-180x80.png')
			.col-sm-6.col-md-4.col-xl-2.wow.fadeInUp(data-wow-delay='.5s')
				.link-image-wrap
					a.link-image(href='#')
						+img('brand-06-180x80.png')
