section.section.section-lg.bg-default
	.container
		.row.row-30.align-items-center
			.col-md-8
				h2 I am here for you and your business — every step of the way.
				p Here’s how I can help you improve various aspects of your business through coaching.
			.col-md-4.text-md-end
				a.btn.btn-nero-outline-1(href='contact-me.html') Free consulting
		.row.row-20.row-md-40.row-xl-60
			.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay='0s')
				+icon-box-left({
					icon: 'icomoon-arrow icon-primary',
					header: 'Marketing',
					text: 'Understand how marketing concepts work and approach your marketing tasks efficiently.',
					link: 'coaching.html'
				}).unit-spacing-xs
			.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay='.1s')
				+icon-box-left({
					icon: 'icomoon-arrow icon-primary',
					header: 'Management',
					text: 'Learn how to deal with managerial tasks to achieve the set goals for your business.',
					link: 'coaching.html'
				}).unit-spacing-xs
			.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay='.2s')
				+icon-box-left({
					icon: 'icomoon-arrow icon-primary',
					header: 'Leadership',
					text: 'Establish powerful leadership in your company’s team through coaching.',
					link: 'coaching.html'
				}).unit-spacing-xs
			.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay='.3s')
				+icon-box-left({
					icon: 'icomoon-arrow icon-primary',
					header: 'Finance',
					text: 'Handle your financial challenges easily with professional coaching by Lead Planner.',
					link: 'coaching.html'
				}).unit-spacing-xs
			.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay='.4s')
				+icon-box-left({
					icon: 'icomoon-arrow icon-primary',
					header: 'Lead generation',
					text: 'Increase the consumer interest and discover how to successfully generate leads.',
					link: 'coaching.html'
				}).unit-spacing-xs
			.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay='.5s')
				+icon-box-left({
					icon: 'icomoon-arrow icon-primary',
					header: 'Lead conversion',
					text: 'Turn a potential customer into a real and regular one in just a few simple steps.',
					link: 'coaching.html'
				}).unit-spacing-xs
