//- Counters
section.section.section-60.section-md-100.novi-background.bg-nero
  .container
    .row.row-40
      .col-sm-6.col-md-3
        .box-counter
          span.novi-icon.icon.icon-md.icon-primary.material-icons-content_copy
          //- CountTo
          .text-large.counter 58249
          h5.box-header templates

      .col-sm-6.col-md-3
        .box-counter
          span.novi-icon.icon.icon-md.icon-primary.material-icons-mood
          //- CountTo
          .text-large.counter.counter-k 246
          h5.box-header happy clients

      .col-sm-6.col-md-3
        .box-counter
          span.novi-icon.icon.icon-md.icon-primary.material-icons-access_time
          //- CountTo
          .text-large.counter 1200
          h5.box-header hours of coding

      .col-sm-6.col-md-3
        .box-counter
          span.novi-icon.icon.icon-md.icon-primary.material-icons-code
          //- CountTo
          .text-large.counter.counter-k 834
          h5.box-header lines of code
